/*! CSS Used from: https://app.liquid.com/iconfont/css/style.css?v=3 */
.icon{display:inline-block;font:normal normal normal 1em/1 'liquidicon';speak:none;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-menu-right::before{content:'\ea14';}
.icon-small-down::before{content:'\ea23';}
/*! CSS Used from: Embedded */
body{margin:0;}
/*! CSS Used from: https://app.liquid.com/static/css/main.49d908ff.chunk.css */
.styles_main__SYjJA{font-weight:400;font-stretch:normal;font-style:normal;letter-spacing:normal;}
.styles_med10pt16__3R_0P{font-size:10px;line-height:16px;}
.styles_reg12pt18__19P7J{font-size:12px;line-height:18px;}
.styles_reg14pt20__20sNo{font-size:14px;line-height:20px;}
.styles_med10pt16__3R_0P{font-weight:500;}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;}
h1,h4,h5,h6,p,ul{margin:0;padding:0;}
li,main{display:block;}
h1,h4,h6{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:none;}
button,input{margin:0;border:0;border-radius:0;font:inherit;background:none;color:inherit;padding:0;-webkit-appearance:none;appearance:none;text-transform:inherit;text-align:inherit;}
button{text-align:center;}
::-moz-focus-inner{padding:0;border:0;}
:focus{outline:0;}
svg{fill:currentColor;vertical-align:top;}
iframe{display:block;}
input::-ms-clear,input::-ms-reveal{display:none;}
input{min-width:0;}
button{cursor:pointer;}
button:disabled{cursor:default;pointer-events:none;}
hr{border:none;}
html{font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Hiragino Sans",sans-serif;font-size:12px;line-height:24px;}
body{color:var(--t-1);background-color:var(--ui-10);}
*{box-sizing:border-box;}
::-webkit-scrollbar{width:6px;height:6px;}
::-webkit-scrollbar-track{margin:8px 0;border-radius:4px;box-shadow:inset 0 0 6px var(--ui-30);}
::-webkit-scrollbar-thumb{border-radius:4px;background-color:var(--s-1);}
::-webkit-scrollbar-corner{background:var(--t-4-a70);}
::-webkit-input-placeholder{color:var(--t-3);}
::-moz-placeholder{color:var(--t-3);opacity:1;}
:-ms-input-placeholder{color:var(--t-3);}
::-ms-input-placeholder{color:var(--t-3);}
h1,h4,h5,h6{font-weight:700;line-height:normal;font-stretch:normal;font-style:normal;margin-top:1em;margin-bottom:1em;}
h1{font-size:32px;font-weight:500;line-height:40px;}
h4{font-size:18px;line-height:26px;letter-spacing:-.7px;}
h5{font-size:16px;line-height:24px;letter-spacing:-.4px;}
h6{font-size:14px;line-height:20px;letter-spacing:-.2px;}
p{margin-top:1em;margin-bottom:1em;}
p{font-size:14px;line-height:20px;}
strong{font-weight:600;}
:root{--space-xxs-2:2px;--space-xs-4:4px;--space-s-8:8px;--space-m-16:16px;--space-l-24:24px;--space-xl-32:32px;--space-xxl-40:40px;--space-xxl-48:48px;--space-xxl-56:56px;--space-xxl-64:64px;--space-xxl-72:72px;--space-xxl-80:80px;}
.liquid-blue_main__165jD{--ui-10:#0a1133;--ui-10-a70:rgba(10,17,51,0.7);--ui-10-a30:rgba(10,17,51,0.3);--ui-15:#0e1a48;--ui-15-a70:rgba(14,26,72,0.7);--ui-15-a30:rgba(14,26,72,0.3);--ui-20:#101b51;--ui-20-a70:rgba(16,27,81,0.7);--ui-20-a30:rgba(16,27,81,0.3);--ui-25:#13205e;--ui-25-a70:rgba(19,32,94,0.7);--ui-25-a30:rgba(19,32,94,0.3);--ui-30:#18297b;--ui-30-a70:rgba(24,41,124,0.7);--ui-30-a30:rgba(24,41,124,0.3);--t-1:#fff;--t-1-a70:hsla(0,0%,100%,0.7);--t-1-a30:hsla(0,0%,100%,0.3);--t-2:#cdd3e4;--t-2-a70:rgba(205,211,228,0.7);--t-2-a30:rgba(205,211,228,0.3);--t-2-a10:rgba(205,211,228,0.1);--t-3:#8b97c1;--t-3-a70:rgba(139,152,193,0.7);--t-3-a30:rgba(139,152,193,0.3);--t-4:#506295;--t-4-a70:rgba(80,98,149,0.7);--t-4-a30:rgba(80,98,149,0.3);--t-4-a15:rgba(80,98,149,0.15);--t-4-a10:rgba(80,98,149,0.1);--s-1:#506295;--s-1-a70:rgba(80,98,149,0.7);--s-1-a30:rgba(80,98,149,0.3);--s-2:#fff;--s-2-a70:hsla(0,0%,100%,0.7);--s-2-a30:hsla(0,0%,100%,0.3);}
.coreShared_main__12usX{--principal:#1a66ff;--principal-a70:rgba(26,102,255,0.7);--principal-a50:rgba(26,102,255,0.5);--principal-a30:rgba(26,102,255,0.3);--principal-a10:rgba(26,102,255,0.1);--information:#1fbbf9;--information-a70:rgba(31,188,249,0.7);--information-a30:rgba(31,188,249,0.3);--information-a10:rgba(31,188,249,0.1);--success:#16b663;--success-a70:rgba(22,182,99,0.7);--success-a30:rgba(22,182,99,0.3);--success-a10:rgba(22,182,99,0.1);--warning:#fa0;--warning-a70:rgba(255,170,0,0.7);--warning-a30:rgba(255,170,0,0.3);--warning-a10:rgba(255,170,0,0.1);--danger:#f55632;--danger-a70:rgba(245,86,50,0.7);--danger-a30:rgba(245,86,50,0.3);--danger-a10:rgba(245,86,50,0.1);--white:#fff;--white-a70:hsla(0,0%,100%,0.7);--white-a30:hsla(0,0%,100%,0.3);--black:#000;--black-a70:rgba(0,0,0,0.7);--black-a30:rgba(0,0,0,0.3);}
.styles_main__MLNjk{position:fixed;bottom:92px;right:6px;z-index:9999;width:360px;color:#000;}
.styles_top__aPrLl{top:72px;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;}
.styles_imgLogo__Nw7P6{color:var(--principal);margin:18px 12px;}
.styles_main__3EaD8{position:relative;}
.styles_body__3dd1F{display:flex;align-items:center;cursor:pointer;}
.styles_content__2DpoO{position:absolute;z-index:3;border-bottom-left-radius:2px;border-bottom-right-radius:2px;}
.styles_right__2PfIe .styles_content__2DpoO{right:0;}
.styles_content__2DpoO{display:none;}
.styles_hoverable__2YTrJ .styles_body__3dd1F:hover+.styles_content__2DpoO,.styles_hoverable__2YTrJ .styles_content__2DpoO:hover{display:block;}
.styles_feed__1T7yq{display:inline-flex;}
.styles_main__159n1{position:relative;display:inline-block;line-height:1.14;padding:6px 12px;color:var(--t-1);border-radius:2px;}
.styles_main__159n1:hover{background-color:var(--ui-30);}
.styles_wrapperLeft__1tYJ5{display:flex;flex:1 1;}
.styles_leftContent__2ghJP{display:none;}
.styles_linkSignIn__3HCtB{display:inline-block;text-transform:capitalize;padding:6px 12px;margin-right:var(--space-l-24);color:var(--t-1);border-radius:2px;}
.styles_linkSignIn__3HCtB:hover{background-color:var(--ui-30);-webkit-filter:grayscale(20%);filter:grayscale(20%);}
.styles_linkSignIn__3HCtB:active{background-color:var(--ui-15);-webkit-filter:grayscale(50%);filter:grayscale(50%);}
.styles__buttonInNav__JD0Hw{padding:8px 20px;border-radius:3px;box-shadow:0 2px 2px 0 var(--ui-15);background-color:var(--principal);color:var(--white);opacity:1;transition:all .1s;}
.styles__buttonInNav__JD0Hw:hover{background-color:var(--principal-a70);}
.styles__buttonInNav__JD0Hw:active,.styles__buttonInNav__JD0Hw:disabled{background-color:var(--principal-a30);}
.styles__buttonInNav__JD0Hw:disabled{color:var(--t-4);}
.styles_linkSignUp__QOaQk{display:inline;}
@media screen and (min-width:768px){
.styles_leftContent__2ghJP{display:flex;align-items:center;margin-left:18px;}
}
@media screen and (min-width:1200px){
.styles_wrapperHamburger__Ko0q0{display:none;}
}
.styles_text__PvLrZ{text-transform:capitalize;}
.styles_inline__3aUdv{padding-left:6px;padding-right:6px;}
.colors_accent__kt2vh{color:var(--principal);}
.colors_accent__kt2vh:focus{box-shadow:var(--principal) 0 0 0 1px inset;}
.colors_accent__kt2vh:active{background-color:var(--ui-30);}
.styles_icon__3wSBF{display:inline-block;padding:22px 24px 22px 6px;font-size:20px;line-height:1;opacity:.6;color:var(--t-1);}
.styles_subMenu__2qRie{padding:0;}
.styles_icon__IoG7F{font-size:1.2em;vertical-align:text-bottom;}
.styles_input__1gyBP{position:relative;width:100%;}
.styles_input__1gyBP{display:block;padding-left:12px;padding-right:12px;min-height:24px;z-index:1;background-color:var(--ui-10-a30);border:1px solid var(--ui-30);border-radius:2px;}
.styles_input__1gyBP:focus{border-color:var(--principal);}
.styles_input__1gyBP::-webkit-input-placeholder{color:var(--t-3);}
.styles_input__1gyBP::placeholder{color:var(--t-3);}
.styles_main__1A8F8{position:relative;z-index:0;width:100%;border:1px solid var(--ui-30);background-color:var(--ui-10-a30);}
.styles_main__1A8F8:focus{box-shadow:var(--principal) 0 -1px 0 0 inset;}
.styles_content__ZHxzu{display:flex;text-align:left;font-size:14px;padding:10px;}
.styles_label__1UNrC{flex:1 1 auto;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-transform:capitalize;}
.styles_iconOption__1v6l9{margin-right:10px;}
.styles_icon__3SCgR{flex:0 0 auto;}
.styles_item__1E114{height:100%;display:flex;justify-content:center;align-items:center;}
.styles_main__1rTEz{text-transform:capitalize;transition:background .2s,border .2s,-webkit-filter .2s;transition:background .2s,border .2s,filter .2s;transition:background .2s,border .2s,filter .2s,-webkit-filter .2s;border-radius:2px;font-size:14px;padding:6px 12px;line-height:24px;display:inline-block;-webkit-user-select:none;user-select:none;}
.styles_main__1rTEz:hover{cursor:pointer;}
.styles_main__1rTEz:active{opacity:.85;}
.styles_main__1rTEz:active,.styles_main__1rTEz:focus{box-shadow:0 0 2px var(--principal);}
.styles_main__1rTEz:disabled{cursor:not-allowed;}
.styles_primary__3XxmD{color:var(--white);background-color:var(--principal);border:1px solid var(--principal);border-radius:2px;transition:all .2s;}
.styles_primary__3XxmD:hover{background-color:var(--principal-a70);border-color:var(--principal-a70);}
.styles_primary__3XxmD:active,.styles_primary__3XxmD:disabled{background-color:var(--principal-a30);border-color:var(--principal-a30);}
.styles_primary__3XxmD:disabled{color:var(--t-4);}
.styles_large__3mDiO{font-size:16px;padding-top:10px;padding-bottom:10px;}
.styles_hiddenSm__1tdzy{display:none;}
.styles_contentWrp__2L2a5{display:none;flex-direction:row;align-items:center;}
.styles_main__1Yig1{z-index:9;display:flex;justify-content:space-between;background-color:var(--ui-15);border-bottom:1px solid var(--ui-30);}
.styles_main__1Yig1:after{content:"";display:block;clear:both;}
.styles_left__3iolo,.styles_right__2p6KI{display:flex;}
.styles_left__3iolo{flex:1 1;align-items:center;}
.styles_right__2p6KI{flex:0 0 auto;align-items:center;}
@media screen and (min-width:1200px){
.styles_hiddenSm__1tdzy{display:block;}
.styles_contentWrp__2L2a5{display:flex;}
}
.styles_popBodyTrade__3--Qv{display:flex;padding:18px 0;}
.styles_popBodyTrade__3--Qv:hover{background-color:initial;}
.styles_popBodyTrade__3--Qv:hover a{background-color:var(--ui-30);}
.styles_contentPopBodyTrade__3TCZz{display:inline-block;text-transform:capitalize;padding:6px 12px;margin:0;color:var(--t-1);border-radius:2px;opacity:1;background-color:var(--ui-15);}
.styles_popContentTrade__1j_Wj{top:65px;padding-top:4px;}
.styles_popContentTrade__1j_Wj:before{border-bottom-color:var(--ui-15);}
.styles_contentDropdown__knvXf{border-radius:4px;background-color:var(--ui-25);box-shadow:0 0 4px 2px var(--ui-10);overflow:hidden;}
.styles_itemDropdown__1Dcfi{display:flex;align-items:center;padding:12px 16px;margin:0;white-space:nowrap;}
.styles_itemDropdown__1Dcfi:hover{background-color:var(--ui-30);}
.styles_itemDropdownIcon__2mPyH{text-transform:none;border-radius:0;}
.styles_itemDropdownTextRight__Kczje h4{color:var(--t-1);margin:0;letter-spacing:0;}
.styles_itemDropdownTextRight__Kczje p{color:var(--t-3);margin:0;}
.styles_itemDropdownTextRight__Kczje p strong{color:var(--danger);}
.styles_itemDropdownParagraph__2qSRM{padding:12px 16px;background-color:var(--ui-30);text-transform:none;}
.styles_itemDropdownParagraph__2qSRM h5{display:inline-block;color:var(--t-1);margin:0;margin-right:var(--space-m-16);}
.styles_itemDropdownParagraph__2qSRM span{color:var(--t-3);}
.styles_marginBottom__3Dp58{margin-bottom:var(--space-xs-4);}
.styles_popBodyTrade__dU8JF{display:flex;padding:18px 0;}
.styles_popBodyTrade__dU8JF:hover{background-color:initial;}
.styles_popBodyTrade__dU8JF:hover a{background-color:var(--ui-30);}
.styles_contentPopBodyTrade__eEzQW{display:inline-block;text-transform:capitalize;padding:6px 12px;margin:0;color:var(--t-1);border-radius:2px;opacity:1;background-color:var(--ui-15);}
.styles_popContentTrade__14_1k{top:65px;padding-top:4px;min-width:384px;}
.styles_popContentTrade__14_1k:before{border-bottom-color:var(--ui-15);}
.styles_contentDropdown__1Z7xh{border-radius:4px;background-color:var(--ui-25);box-shadow:0 0 4px 2px var(--ui-10);overflow:hidden;}
.styles_itemDropdown__3I7xu{display:flex;align-items:center;padding:12px 16px;margin:0;white-space:nowrap;}
.styles_itemDropdown__3I7xu:hover{background-color:var(--ui-30);}
.styles_itemDropdownTextRight__1jG6f{display:flex;align-items:center;}
.styles_itemDropdownTextRight__1jG6f h4{color:var(--t-1);margin:0;letter-spacing:0;}
.styles_itemDropdownTextRight__1jG6f p{color:var(--t-3);margin:0;}
.styles_new__3FY75{border-radius:2px;padding:2px 4px;background-color:var(--principal);margin-left:4px;font-size:8px;line-height:1.14;vertical-align:middle;color:var(--white);}
.styles_earnUp__3tuWX{padding:10px;text-align:center;font-size:14px;line-height:1.43;color:var(--success);background-color:var(--ui-30);}
.styles_textRight__1M_9e{margin-left:12px;}
.styles_navIcon__1CdYI{color:var(--t-1);}
.styles_wrapperTheme__cENRK{width:42px;height:42px;}
.styles_buttonDropdownTheme__1X61M.styles_buttonDropdownTheme__1X61M{height:100%;padding:0;}
.styles_buttonContentDropdownTheme__30z5D{height:100%;padding:9px;}
.styles_buttonContentDropdownTheme__30z5D>div{height:100%;}
.styles_buttonContentDropdownTheme__30z5D i{display:none;}
.styles_wrapperLanguage__1TgQb{width:160px;height:42px;text-transform:capitalize;margin-left:12px;}
.styles_buttonDropdownLanguage__K1d03.styles_buttonDropdownLanguage__K1d03{width:100%;height:100%;padding:0;}
.styles_buttonContentDropdownLanguage__3GfQj{height:100%;width:100%;padding:5px 12px;align-items:center;}
.styles_buttonContentDropdownLanguage__3GfQj i{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.styles_main__3HO-n{position:relative;z-index:9;display:flex;height:100%;align-content:center;background-color:var(--ui-15);}
.styles_wrapperFooter__3k5pS{display:flex;height:100%;width:100%;max-width:1200px;margin:0 auto;align-items:center;}
@media screen and (min-width:768px){
.styles_wrapperFooter__3k5pS{padding:0 24px;}
}
@media screen and (min-width:1440px){
.styles_wrapperFooter__3k5pS{padding:0;}
}
.styles_menu__hioJE{z-index:99;height:64px;}
.styles_fixed__3VPAK{z-index:100;position:fixed;top:0;right:0;left:0;}
.styles_body__2t5HW{padding:64px 0 0;white-space:normal;}
.styles_footer__31Oc1{display:none;z-index:98;}
@media screen and (min-width:768px){
.styles_footer__31Oc1{position:fixed;display:block;bottom:0;left:0;right:0;height:76px;}
.styles_haveFooter__2fJ9r{padding-bottom:76px;}
}
/*! CSS Used from: https://app.liquid.com/static/css/39.f8cd8fca.chunk.css */
.styles_main__drfz7{position:relative;}
.styles_label__3SrJB{color:var(--t-3);text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.styles_children-block__1_MHK{margin-top:6px;}
.styles_label__3QPde{text-transform:capitalize;margin:0;display:inline-block;color:var(--t-1);}
.styles_children__UcXK-{font-size:15px;line-height:42px;}
.TextInput_input__2CyJz{display:block;width:100%;padding-left:12px;padding-right:12px;min-height:24px;position:relative;z-index:1;background-color:var(--ui-10-a30);border:1px solid var(--ui-30);border-radius:2px;}
.TextInput_input__2CyJz:focus{border-color:var(--principal);}
.SignInSteps_title__120CX{border-left:2px solid var(--principal);margin-left:-24px;padding-left:22px;font-size:24px;line-height:30px;}
.SignInSteps_item__1srUX{padding:12px 0;position:relative;}
.SignInSteps_hr__cWpiV{margin:0;border-top:1px solid var(--t-4-a30);}
.SignInSteps_footer__3Ynly{margin:12px 0;padding:6px 0;white-space:pre-wrap;}
.SignInSteps_footer__3Ynly p{margin:3px 0;}
.SignInSteps_link__37X7q{color:var(--principal);display:inline-block;}
.SignInSteps_submit__2vyVu{width:100%;}
.SignInSteps_forgot__H4v-H{padding:0 6px 0 0;}
.SignInSteps_button__1R7K8{padding-left:6px;padding-right:6px;color:var(--t-3);position:absolute;z-index:10;display:flex;right:0;top:50%;}
.SignInSteps_button__1R7K8:active{-webkit-transform:translate(.5px,1px);transform:translate(.5px,1px);border-color:var(--ui-30);color:var(--t-1);}
@media (min-width:992px){
.SignInSteps_title__120CX{margin-left:-36px;padding-left:36px;}
}
.SignInContainer_main__1LfcN{background:var(--ui-15);max-width:440px;padding:12px 24px;margin:auto;margin-top:var(--space-l-24);border-radius:3px;}
@media (min-width:992px){
.SignInContainer_main__1LfcN{padding-left:36px;padding-right:36px;}
}
/*! CSS Used from: Embedded */
.jcTaHb{display:none;}
@media screen and (min-width: 768px){
.jcTaHb{display:block;}
}
.hydYaP.popBody:hover{background-color:transparent;}
.kMthTr{top:65px;padding:4px 16px 8px;}
.eysHZq{width:172px;padding:16px;background-color:var(--ui-25);box-shadow:0 0px 4px 2px var(--ui-10);border-radius:4px;}
.XJxhY{display:inline-block;line-height:20px;border-radius:2px;padding:22px 12px;color:var(--t-1);}
.XJxhY:hover{color:var(--t-3);}
.dJdFwe{width:100%;display:flex;-webkit-box-align:center;align-items:center;height:28px;border-radius:2px;padding-left:8px;padding-right:8px;margin-bottom:8px;opacity:0.7;transition:all 0.3s ease 0s;}
.dJdFwe:hover{opacity:1;background-color:var(--ui-20);}
.dJdFwe .name{margin-left:8px;}
.bAVzgZ{width:140px;height:140px;border:12px solid white;margin-bottom:12px;}
/*! CSS Used from: Embedded */
iframe#_hjRemoteVarsFrame{display:none!important;width:1px!important;height:1px!important;opacity:0!important;pointer-events:none!important;}
/*! CSS Used from: Embedded */
.intercom-lightweight-app{position:fixed;z-index:2147483001;width:0;height:0;font-family:intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;}
@media print{
.intercom-lightweight-app{display:none;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'liquidicon';src:url('https://app.liquid.com/iconfont/fonts/liquidicon.eot');src:url('https://app.liquid.com/iconfont/fonts/liquidicon.eot') format('embedded-opentype'),     url('https://app.liquid.com/iconfont/fonts/liquidicon.woff2') format('woff2'),     url('https://app.liquid.com/iconfont/fonts/liquidicon.woff') format('woff'),     url('https://app.liquid.com/iconfont/fonts/liquidicon.ttf') format('truetype'),     url('https://app.liquid.com/iconfont/fonts/liquidicon.svg') format('svg');font-weight:normal;font-style:normal;}
